<div class="row">
  <div class="form-group col-md-6">
    <% comments.each do |comment| %>
      <% if comment.parent_id.present? || comment.id.blank? %>
        <% next %>
      <% end %>
      <div id="comment-<%=comment.id%>">
        <hr>
        <p> <%= comment.user.name %> : <%=comment.content%></p>
        <p> date : <%=comment.created_at.strftime("%Y-%m-%d %H:%M") %>
      <div id="reply_area">
        <% comment.replies.order(:created_at).each do |reply| %>
        <p> <%= comment.user.name %> : <%=reply.content%></p>
        <p> reply_date : <%=reply.created_at.strftime("%Y-%m-%d %H:%M") %>
        <% end %>
      </div>
      <a href="/posts/<%=post.id%>/comments/<%=comment.id%>" data-method=delete>delete</a>
        <%= form_with(model:[post,comment_reply]) do |form| %>
        <div class="row">
          <div class="form-group col-md-6">
            <p><label>Reply</label></p>
            <textarea class="form-control input-form" name="comment[content]" rows="2"><%=@comment.content%></textarea>
          </div>
        </div>
          <%= form.hidden_field :post_id, value: post.id %>
          <%= form.hidden_field :parent_id, value: comment.id%>
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
