<div class="jumbotron jumbotron-fluid clearfix">
  <div class="container">
    <div class="row">
      <div class="box">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group">
          <label>Email</label>
          <%= f.email_field :email, autofocus: true, class: "sign-in form-control",autocomplete: "email" %>
        </div>

        <div class="field">
          <label>Password</label>
          <%= f.password_field :password, autocomplete: "current-password", id: "exampleInputPasssword1", class: "sign-in form-control" %>
        </div>

        <button type="submit" class="btn-block btn btn-lg btn-primary btn-sign-in">Log in</button>

        <p class="text-center forget-password"><%= render "devise/shared/links" ,class:"forget-password"%></p>

        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>
        <% end %>
        <%= link_to 'Log in for TEST', users_guest_sign_in_path, method: :post %>
      </div>
    </div>
  </div>
</div>
