<div class="container main-content">
  <div class="main-box">
    <div class="title-box">
      <h2 class="page-title">
        <p class="job-name">Job Title</p>
        <span><%= @post.title %></span>
      </h2>
      <div class="status open-term status-<%=@post.status%> clearfix">
        <div>
          <%= @post.status %>
        </div>
      </div>
    </div>

    <div class="row main2 mdl-shadow--2dp">
      <div>

        <div class="button_placer2">
          <% if @post.status == 'open' && current_user.applicant? %>
          <% if my_bookmark = current_user.bookmarks.find_by(post_id: @post.id) %>
          <a href="/bookmarks/<%=my_bookmark.id%>" data-method=delete>
            <p id="is-favorite" class="button2 button_yellow button2_with_icon mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent button_active_shadow" style="width: auto; box-shadow: none; display: block;" data-upgraded=",MaterialButton,MaterialRipple">
              <i class="far fa-star material-icons md-20"></i>
              unbookmark
              <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
            </p>
          </a>
          <% else %>
          <a href="/bookmarks?post_id=<%=@post.id %>" data-method=post>
            <p id="not-favorite" class="flat_button2 flat_button2_yellow button2_with_icon mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent button_active_shadow" style="width: auto;">
              <i class="far fa-star material-icons md-20"></i>
              bookmark
              <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
            </p>
          </a>
          <% end %>
          <% if my_apply = current_user.applications.find_by(post_id: @post.id) %>
          <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></p>
          <a href="/applications/<%=my_apply.id%>" data-method=delete class="apply-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button_blue" style="margin-left: 1em;">
            un-Apply
            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
          <% else %>
          <!-- apply-btn -->
          <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></p>
          <a href="/applications?post_id=<%=@post.id %>" data-method=post class="apply-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button_blue" style="margin-left: 1em;">
            Apply
            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
          <% end %>
          <% end %>
        </div>
        <div>
          <p class="small_title">Photo</p>
          <p style="width: 100%;color: #444;font-size: 15px;">
            <img src="<%=@post.post_image.post_detail.url%>" alt="" class="picture-image detail-image">
          </p>
        </div>
        <div>
          <p class="small_title">Detail</p>
          <p style="width: 100%;color: #444;font-size: 15px;">
            <%=@post.detail%>
          </p>
        </div>
        <div>
          <p class="small_title">Category</p>
          <p style="width: 100%;color: #444;font-size: 15px;">
            <% @post.categories.each do |category| %>
            <label class='badge badge-secondary'><%= category.name %></label>
            <% end %>
          </p>
        </div>
        <div>
          <p class="small_title">Deadline</p>
          <p style="width: 100%;color: #444;font-size: 15px;">
            <%= @post.deadline.strftime("20%y/%m/%d") %>
          </p>
        </div>
        <div>
          <p class="small_title">Recruiter</p>
          <p style="width: 100%;color: #444;font-size: 15px;">
            <div id="client_information">
              <div>
                <div>
                  <img src="<%=@post.recruiter.profile_image.thumb.url%>" alt="" class="profile-img">
                  <div>
                    <%= link_to @post.recruiter.name, @post.recruiter %>
                  </div>
                  <div>
                    <a rel="nofollow" data-method="post" href="/conversations?recipient_id=<%=current_user.id%>&sender_id=<%=@post.recruiter.id%>">
                      <button type="submit" id="sendMessageButton" class="flat_button button2_with_icon">
                        <i class="far fa-comment-dots material-icons md-20" style="margin-right: 5px;"></i>
                        Send Message
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </p>
        </div>
        <div>
          <p class="small_title">Selected User</p>
          <p style="width: 100%;color: #444;font-size: 15px;">
            <div id="client_information">
              <div>
                <div>
                  <%if @post.selected_user %>
                  <img src="<%=@post.selected_user.profile_image.thumb.url%>" alt="" class="profile-img">
                  <div>
                    <%= link_to @post.selected_user.name, @post.selected_user %>
                  </div>
                  <div>
                    <a rel="nofollow" data-method="post" href="/conversations?recipient_id=<%=current_user.id%>&sender_id=<%=@post.selected_user.id%>">
                      <button type="submit" id="sendMessageButton" class="flat_button button2_with_icon">
                        <i class="far fa-comment-dots material-icons md-20" style="margin-right: 5px;"></i>
                        Send Message
                      </button>
                    </a>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div class="row main2 mdl-shadow--2dp" style="margin-top: 30px;">
      <p class="small_title">Comments</p>
      <%= render partial: 'comments/index', locals: { comments: @comments,post: @post } %>
       <div id="comment-error"></div>
      <% if user_signed_in? %>
      <div class="comment-create">
        <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
      </div>
      <% end %>
    </div>
    <hr>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12">
        <%= link_to 'back', posts_path %>
      </div>
    </div>
  </div>
</div>
