<!-- タイムライン表示画面 -->
<div class="col-md-8">
  <!-- つぶやき一覧を表示する -->
  <% @posts.each {|post| %>
  <a href="/posts/<%=post.id%>" class="post-link stretched-link">
    <div class="post mdl-shadow--2dp card clearfix">
      <div class="work-icon">
        <img src="<%=post.post_image%>" alt="">
      </div>
      <div class="work-text">
        <div class="clearfix">
          <div class="post-text">
            <p class="post-title clearfix"><%= post.title %></p>
          </div>
          <div class="detail clearfix">
            <div class="deadline">
              Deadline : <%= post.deadline.strftime("20%y/%m/%d") %>
            </div>
          </div>
          <div class="job-category">
            <p>Category :
              <% post.categories.each do |category| %>
              <span class="mdl-chip"><span class="mdl-chip__text">
                  <%= category.name %>
                </span>
              </span>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
  <% } %>
  <div><%= paginate @posts, left: 1, right: 3 %></div>
</div>
