<div class="row">
  <h4> タスク一覧 </h4>
</div>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Title</th>
        <th>Detail</th>
        <th>Photo</th>
        <th>Status</th>
        <th>Deadline</th>
        <th>Recruiter</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td class="post_row"><%= post.title %></td>
        <td><%= post.detail %></td>
        <td><img src="<%=post.post_image.thumb.url%>" alt="" class="picture-image"></td>
        <td><%= post.status %></td>
        <td><%= post.deadline.strftime("%Y-%m-%d")%></td>
        <td><%= post.recruiter.name %></td>
        <td><%= link_to 'detail', post %></td>
        <% if my_bookmark = current_user.bookmarks.find_by(post_id: post.id) %>
          <td><a href="/bookmarks/<%=my_bookmark.id%>" data-method=delete>un-bookmark</a></td>
        <% else %>
          <td><a href="/bookmarks?post_id=<%=post.id %>" data-method=post>bookmark</a></td>
        <% end %>
        <td><%= link_to 'edit', edit_post_path(post) %></td>
        <td><%= link_to 'destroy', post, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
