<div class="user-search-left col-md-2 align-center clearfix">
  <div class="sidemenu">
    <%= form_with url:'/posts', method: :get, local: true do |f| %>
    <%= f.hidden_field :search, value: 'true' %>
    <div class="row clearfix">
      <div class="form-group search_form clearfix">
        <%= search_form_for @q do |f| %>
        <%= f.search_field :title_or_detail_cont, class: 'form-control keyword-form clearfix', placeholder: 'keyword' %>
      </div>
      <div class="form-group search_form clearfix">
        <select class="form-control keyword-form clearfix" name="category">
          <option value="" style="display: none;">Category</option>
          <option value=""></option>
          <% @categories.each do |category| %>
          <% if  @category.present? && @category.name == category.name %>
          <option value="<%= category.name%>" selected><%= category.name %></option>
          <% else %>
          <option value="<%= category.name%>" ><%= category.name %></option>
          <% end %>
          <% end %>
        </select>
      </div>
      <button type="submit" class="btn btn-primary search-btn" name="commit">Search</button>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
